.company_link-container{
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	height: 75px;

	color: $color__text-dark;
	background-color: aqua;
	background: linear-gradient(90deg, #B08AFF 0.62%, #00FF94 100%), #BBA89D;


	img{

		height: 100%;
		width: auto;

		object-fit: contain;

		padding: 6px 20px;
	}
}


.company_link-other{
	display: block;
	position: relative;

	top: 50%;
	left: 10%;
	transform: translateY(-50%);
	transition: .2s;

	&:hover{
		color: $color__text-menu-checked;
	}
}
