/*FONTs*/
@font-face {
	font-family: 'Book Antiqua';
	src: local('Book Antiqua'),
	url(../fonts/bookAntiqua.ttf),
	format('ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

%montserrat{
	font-family: 'Montserrat', sans-serif;
}

%bookAntiqua{
	font-family: 'Book Antiqua', serif;
}

h1{
	@extend %bookAntiqua;
	@include font(6.4rem, 700, 4.6rem, normal);
}

h2{
	@extend %bookAntiqua;
	@include font(4.8rem, 700, 4.6rem, normal);
}

h3{
	@extend %bookAntiqua;
	@include font(3.6rem, 700, 4.5rem, normal);
}

h4{
	@extend %bookAntiqua;
	@include font(2.4rem, 700, 2.9rem, normal);
}

h5{
	@extend %montserrat;
	@include font(1.4rem, 600, 4.6rem, normal);

}

p{
	@extend %montserrat;
	@include font(1.6rem, 400, 2rem, normal);
	margin: 2rem 0 0;
}

.data{
	@extend %montserrat;
	@include font(1.8rem, 400, 4.6rem, normal);
}

ul{
	@include column;

	@extend %bookAntiqua;
	@include font(2.2rem, 400, 2.7rem, normal);
}



.open_fragment-font{
	@extend %montserrat;
	@include font(2.2rem, 400, 2.7rem, normal);
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.btn_1{
	@extend %bookAntiqua;
	@include font(1.8rem, 700, 2.2rem, normal);
}

.btn_2{
	@extend %bookAntiqua;
	@include font(1.8rem, 400, 2.2rem, normal);
}

.btn_3{
	@extend %montserrat;
	@include font(1.6rem, 400, 1.9rem, normal);
}

.btn_4{
	@extend %montserrat;
	@include font(1.8rem, 400, 2.2rem, normal);
}

.btn_5{
	@extend %montserrat;
	@include font(2.4rem, 500, 2.9rem, normal);
}


//.input{
//	@extend %montserrat;
//	@include font(1.8rem, 400, 4.6rem, normal);
//
//	width: 100%;
//	height: auto;
//
//	margin: 1rem;
//
//	color: linear-gradient(270deg, #FFE8CC 0.67%, rgba(255, 255, 255, 0) 19.92%),
//linear-gradient(0deg, #202020, #202020);
//}



/*THEMEs*/







/*BTNs*/

.btn{
	@include block(.5rem, 1rem 2rem, 0);
	min-width: 16rem;
	margin-right: 2rem;
	text-align: center;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.24);

	cursor: pointer;
	transition: .2s;
	&:hover{
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.24);
	}
}

.btn-dark{
	@include theme(dark, true);
	svg{
		fill: $light;
	}
}
.btn-light{
	@include theme(light, true);
	svg{
		fill: $black;
	}
}

.btn-white{
	@include theme(white, true);
	svg{
		fill: $black;
	}
}

#instagram{
	padding-right: 1rem;
}

#phone{
	padding-right: 1rem;
}

#mail{
	padding-right: 1rem;
}
