.communication-block,
.communication_2-block{
//	display: none;
	background: url(/img/back-lamp.png) no-repeat;
	background-size: cover;
}

.communication-content{
	text-align: center;
	padding: 0 5rem;
}

.communication_stories-container{
	display: flex;
	position: relative;
	margin: 0 auto;

	flex-wrap: wrap;
	justify-content: center;

	.communication-card{
		@include block(1rem, 1rem, 2rem);
		@include theme(light, false);
		width: 36rem;
		height: 23rem;
		box-sizing: border-box;

		p{
			text-align: start;
			margin-bottom: 1.5rem;
		}

	}
}



