.contacts-container{
	@include row;
	justify-content: center;

	flex-wrap: wrap;

	& div:hover{
		@include theme(checked);
	}
}



.contact-form{
	@include colomn;

	align-items: center;

	padding: 0 80px;
	height: 70%;

	.input{
		width: 100%;

		border-radius: 5px;
		padding: 0 15px;
		margin: 10px;
		border: 1px solid black;

		resize: none;
	}

	textarea{
		height: 70%;
	}
}
