.reviews_btn-container{
	@include row;
	position: relative;
	justify-content: flex-end;

	width: 100%;
	height: 80px;

	&>div{
		position: fixed;
		cursor: pointer;
		transition: .2s;
		&:hover{
			@include theme(checked);
		}
	}
}

.reviews_content{
	padding: 30px 35px;
	margin-bottom: 30px;
	text-align: justify;
}


.reviews__header{
	@include row;
	h2{
		text-align: start;
	}
	justify-content: space-between;

}
.rating{
	@include row;
	flex-wrap: nowrap;
	align-content: center;
	align-items: flex-start;
	margin-top: 20px;
}

.star{
	position: relative;
	width: 20px;
	height: 20px;
	text-align: center;

//	border: 1px solid black;
}
